<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body style="background: #181c45;">
 <div class="login">
	<h1>Login for prediction</h1>

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}

     <form method="post" action="">
         {{ form.hidden_tag() }}
         {{ form.username }}
         {{ form.password }}
         {{ form.submit }}
     </form>
     <a href="{{ url_for('signup')}}" class="link-danger"> Don't have an account? Sign up</a>
<br>
   <br>

 </div>


</body>
</html>























<!--
    <script src="script.js"></script>

    There are two functions in scripts.js:
    1. authenticate()
    2. signup()
    Both functions take two arguments username and password.
    authenticate() returns true if the username and password are correct. It returns false if they are wrong.
    signup() returns true if the username is not reserved and successfully signed up. It returns false if it is reserved by another user.
    <script>
        function login_() {
            var username = document.getElementById("login-username").value;
            var password = document.getElementById("login-password").value;
            if (authenticate(username, password)) {
                alert("Login successful");
            } else {
                alert("Wrong username or password");
            }
        }
    </script> -->



     <!-- Main Input For login to our ML
    <form action="{{ url_for('login')}}" method="post">
    	<input type="text" name="username" placeholder="Username" required="required" />
        <input type="password" name="password" placeholder="Password" required="required" />
        <button onclick="login_()" class="btn btn-primary btn-block btn-large">Login</button>
        <p class="small mt-2 pt-1 mb-0"> Don't have account now <a href="{{ url_for('signup')}}"
            class="link-danger"> Sign up</a></p>
    </form> -->



