<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Deployment</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body style="background: #181c45;">
 <div class="login">
	<h1>upload file</h1>

      <form action = "data" method = "POST" enctype = "multipart/form-data">
         <input type = "file" name = "csvfile" />
         <input type = "submit"/>
      </form>
 </div>
   </body>
</html>
