<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body style="background: #181c45;">
 <div class="login">
	<h1>sign up for prediction</h1>

       {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-danger" role="alert">
            {{ messages[0] }}<br> Go to <a href="{{ url_for('login') }}" class="alert-link">login page</a>.
        </div>
    {% endif %}
       {% endwith %}

      <form method="post" action="">
         {{ form.hidden_tag() }}
         {{ form.username }}
         {{ form.password }}
         {{ form.submit }}
     </form>
     <a href="{{ url_for('login')}}" class="link-danger"> Already have an account? login</a>
 </div>
   <br>
   <br>

 </body>
</html>

























     <!-- Main Input For login to our ML
    <form action="{{ url_for('signup')}}" method="post">
    	<input type="text" name="user name" placeholder="name" required="required" />
        <input type="password" name="password" placeholder="password" required="required" />
        <button onclick="signup_()" class="btn btn-primary btn-block btn-large">Sign up</button>
        <p class="small mt-2 pt-1 mb-0"> Already have  an account?<a href="{{ url_for('login')}}"
            class="link-danger"> Log In</a></p>

    </form> -->

<!--
 </div>

 <script src="script.js"></script>

    There are two functions in script.js:
    1. authenticate()
    2. signup()
    Both functions take two arguments username and password.
    authenticate() returns true if the username and password are correct. It returns false if they are wrong.
    signup() returns true if the username is not reserved and successfully signed up. It returns false if it is reserved by another user.

    <script>

        function signup_() {
            var username = document.getElementById("signup-username").value;
            var password = document.getElementById("signup-password").value;
            if (signup(username, password)) {
                alert("Successfully signed up");
            } else {
                alert("Username is reserved");
            }
        }
    </script>-->





